<%- include("partials/header"); -%>
<div class="creater_info">
    <img src="https://st.depositphotos.com/2101611/3925/v/600/depositphotos_39258143-stock-illustration-businessman-avatar-profile-picture.jpg" alt="Profile-pic" height="70" width="50">
    <p>A Back-End Developer and Programmer</p>
    <h3>Aditya Mishra</h3>
    <h6>This Minor Project is made by Help of technologies like Express.js Node.js MongoDB ejs Mongoose </h6>
    <h6>Hosted dynamically and connected with Mongo DB database for users </h6>
    <h6>catch me on LinkedIn  <a href="https://www.linkedin.com/in/aditya-mishra-73b376204/" target="_blank">LinkedIn </a></h6>
    <h6>See me Praticing at :-  <span> <a href="https://leetcode.com/aditya_mishra2/" target="_blank">LeetCode</a></span> </h6>
    <h6>other Profile :- <a href="https://github.com/mishraAditya22">Github</a></h6>
    </br>
    <button class="btn"> <a href="mailto:itsadityamishra22@gmail.com">Let's Grab a cup of Coffee together</a></button>
</div>
<%- include("partials/footer"); -%>