<%- include("partials/header"); -%>

<div class="card_css1">
    <h1>Prove Your Identity </h1>
    <h5>Win as You , Not anonymous</h5>
</div>
<div class="card_css">
    <form action="home" method="POST">
        <label class="inputFields" for="userName">Enter Your Name to Play</label>
        <input class="inputFields" type="text" name="userName" placeholder="Eg-:- Aditya Mishra" autocomplete="off">
        <button class="btn" type="submit">Let's Go</button>
    </form>
</div>

<%- include("partials/footer"); -%>